:root {
	--white: #ffffff;
	--black: #000000;
	--red: #ff0000;
	--blue: #473bf0;
	--green: #68D585;
	--tomato:#F64B4B;
	--lightblack: #161C2D;
	--gray:#555;
	--lightblue:#4a5eff;
	--navyblue:#161C2D;

}
